:root {
    --radio-big-size1: 24px;
    --radio-big-size2: 20px;
    --radio-big-border: 3px;
    
    --radio-normal-size1: 20px;
    --radio-normal-size2: 16px;
    --radio-normal-border: 3px;
    
    --radio-small-size1: 16px;
    --radio-small-size2: 12px;
    --radio-small-border: 2px;

    --radio-border-color: white;
    --radio-bg-color: transparent;
    --radio-active-bg-color: white;
}

.radio-wrapper {
    position: relative;
    /* top: 50%;
    transform: translateY(-50%); */
    width: var(--radio-big-size1);
    height: 100%;
}

.radio {
    display: none;
}

.radio-label, .radio-label::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: var(--radio-bg-color);
    transition: .4s background;
}

.radio-label {
    width: var(--radio-big-size1);
    height: var(--radio-big-size1);
    border: var(--radio-big-border) solid var(--radio-border-color);
}

.radio-label::before {
    content: "";
    width: var(--radio-big-size2);
    height: var(--radio-big-size2);
}

/* .radio:checked + .radio-label {
    background: var(--radio-active-bg-color);
} */

.radio:checked + .radio-label::before {
    background: var(--radio-active-bg-color);
}

@media(max-width: 1000px) {
    .radio-wrapper {
        width: var(--radio-normal-size1);
    }

    .radio-label {
        width: var(--radio-normal-size1);
        height: var(--radio-normal-size1);
        border: var(--radio-normal-border) solid var(--radio-border-color);
    }

    .radio-label::before {
        width: var(--radio-normal-size2);
        height: var(--radio-normal-size2);
    }
}

@media(max-width: 500px) {
    .radio-wrapper {
        width: var(--radio-small-size1);
    }

    .radio-label {
        width: var(--radio-small-size1);
        height: var(--radio-small-size1);
        border: var(--radio-small-border) solid var(--radio-border-color);
    }

    .radio-label::before {
        width: var(--radio-small-size2);
        height: var(--radio-small-size2);
    }
}

#container {
    display: none;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* #signin {
    display: none !important;
} */